<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    backupGlobals="false"
    beStrictAboutChangesToGlobalState="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTestsThatDoNotTestAnything="false"
    bootstrap="vendor/autoload.php"
    colors="true"
    columns="max"
    processIsolation="false"
    stopOnError="false"
    stopOnFailure="false"
    stopOnRisky="false"
>
    <php>
        <ini name="error_reporting" value="E_ALL" />
    </php>

    <testsuites>
        <testsuite name="PHP Coveralls component test suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>./src</directory>
        </include>
        <exclude>
            <directory>./build</directory>
            <directory>./composer</directory>
            <directory>./tests</directory>
            <directory>./vendor</directory>
        </exclude>
    </source>

    <logging>
        <junit outputFile="build/logs/junit.xml"/>
    </logging>
</phpunit>
